<div class="row buttons-group-create-back">
    <div class="col">
        <button type="submit" id="createBtn" class="btn btn-primary">Create</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>