@model int
<div class="row buttons-group-create-back">
    <div class="col">
        <button type="submit" class="btn btn-primary" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <button asp-action="Index" class="btn btn-success">Back to List</button>
    </div>
</div>
